@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.top-conteiner {
  width: 100vw;
  height: 655px;
  display: flex;
  box-shadow: 0 0 0 .125rem rgb(0, 0, 0, 0.15);
}

.top-img {
  position: absolute;
  z-index: -1;
}

.left-conteiner {
  display: flex;
  width: 50vw;
  justify-content: center;
  align-items: center;
}

.texto-logo {
  display: flex;
  flex-direction: column;
  font-size: 2.0625rem;
  line-height: 2.5rem;
}

.inscrevase {
  font: 20px / 1.3334 Roboto, sans-serif;
  color: white;
  margin-bottom: 21.25rem;
  margin-left: 18.75rem;
}

.right-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw; 
  background-color: #ffffff;
  color: black;
  height: 655px;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding-right: 390px;
  width: 1836px;
  
}

.login-title {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #242567;
}

.input-field {
  width: 100%;
  padding: 17px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.login-button {
  width: 100%;
  padding: 13px;
  background-color: #DCE0E4;
  color: #FEFEFE;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 12px;
}

.login-options {
  margin-top: 30px;
  width: 100%;
}

.login-option-button {
  width: 100%;
  padding: 12px;
  margin-bottom: 17px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.twitter {
  background-color: #1DA1F2;
  color: #FEFEFE;
  font-weight: bold;
}


.google {
  background-color: #4285F4;
  color: #FEFEFE;
  font-weight: bold;
}

.passwordless {
  background-color: #00AFF0;
  color: #FEFEFE;
  font-weight: bold;
}

.footer {
  margin-top: 25px;
  font-size: 14px;
  text-align: center;
}

.footer a {
  color: #00aaff;
  text-decoration: none;

}

.footer a:hover {
  text-decoration: none;
  color: #4A93EA;
}

.conteiner-botton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  padding-top: 36px;
  margin-top: .125rem;
  width: 100vw;
  height: 100%;
  background-color: #F6F7F8;
}

.post-tittle {
  font-size: 2rem;
  margin: 0 0 2.25rem;
}

.conteiner-post {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 7px;
  width: 53.5rem;
  height: 40.0938rem;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 100px;
  justify-content: space-between;
}


.user-conteiner {
  display: flex;
  width: 100%;
  padding: 16px;
}

.infos-conteiner {
  display: flex;
  width: 100%;
  flex-direction: row; 
}

.jclogo {
  width: 48px;
  height: 48px;
}

.user-links{
  display: flex;
  text-decoration: none;
  flex-direction: column;
  margin-left: .8125rem;
  margin-top: .4375rem;
}

.user-links a {
  color: #242529;
  text-decoration: none;
}

.user-links a:hover {
  text-decoration: none;
  color: #4A93EA;
}

.arroba {
  margin-top: 5px;
  font-size: 13px;
}

.hora-postagem {
  justify-self: last baseline;
  width: 6.25rem;
  margin-top: .4375rem;
}

.text-user {
  display: flex;
  flex-direction: column;
  padding: 0 .625rem;
}